@charset 'utf-8';
.tip-dialog{
	position: absolute;
	top: 15%;
	left: 12.5%;
	width: 75%;
	height: 70vh;
	border-radius: 2em;
	overflow: hidden;
	background: #fff;
}
.tip-tabs{
	width: 100%;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	justify-content: space-around;
	font-size: 1rem;
	padding: .8em 0;
	background: #fed81a;
}
.tip-tab{
	background: transparent;
	color: #fff;
	font-size: .93rem;
	padding: .3em 1em;
	border-radius: 3em;
}
.tip-tab-active{
	background: #fff;
	color: #333;
}
.tips-cont{
	width: 100%;
	height: 50vh;
	overflow-y: scroll;
	padding: 1em 1em 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font-size: .8125rem;
	color: #333;
	line-height: 1.6em;
	word-break: break-all;
}

.tips-ui{
	width: 100%;
	height: 50vh;
	overflow-y: scroll;
	padding: 0 .8em;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.tips-li{
	width: 100%;
	padding: .8em 0;
	border-bottom: 1px solid #dfdfdf;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	justify-content: space-between;
}
.avatar{
	width: 15%;
	margin-right: 3%;
}
.uinfo{
	width: 35%;
	margin-right: 3%;
}
.uname{
	width: 100%;
	font-size: .8125rem;
	color: #333;
	margin-bottom: .2em;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.time{
	width: 100%;
	font-size: .75rem; 
	color: #999;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.gift-cont{
	width: 44%;
	font-size: .8215rem;
	color: #333;
	line-height: 1.6rem;
	text-align: right;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.close-img{
	width: 12%;
	margin: 1em auto;
}